#name_search_result{
	position: absolute; 
	display: none; 
	top: 150px; 
	left: 160px;
	min-width:500px; 
	background: rgba(80,80,80,1);
	box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
	border:solid #fff;
	max-height: 200px;
	overflow: scroll;
	color: #fff;
}

#name_search_result a{
	display: block;
	padding: 10px;
	background: #2F1C8C;
	color: #fff;
	font-size: 20px;
	transition:background 500ms;
}
#name_search_result a:hover{
	background: #5237D7;
	text-decoration: none;
}

